@media (max-width: 600px) {

    body {
        display: inline;
    }
}
body{
    margin: 0; 
}
.avtorizacia{
    position: relative;
	width: 28.4%;
	height: 100%;
	margin-left: 36%;
	margin-right: 36%;
	margin-top: 12%;
	background: rgba(51, 50, 46, 0.9);
	border: 25px;
}
.verh{
	width: 100%;
	height: 50px;
	background-color: rgba(29, 28, 26, 0.9);
	border: 25px;
}
.slovo{
	width: 100%;
	text-align: center;
	line-height: 45px;
	font-size: 32pt;
	font-family: 'Rubik', sans-serif;
	justify-content: flex-start;
}
.avtorizaciya{
    width: 68.4%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 16%;
	margin-right: 17%; 
}
.avtorizaciy{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 16%;
	margin-right: 17%; 
}
.spisok{
    list-style-type: none;
    display: flex;
    font-family: 'Rubik', sans-serif;
    padding-left: 0; 
    margin: 0;
    color: white;
}
.ssilka{
    color: white;
    text-decoration: none;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.ssilku{
	text-align: center;
	padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.spisok{
    justify-content: flex-end;
    font-size: 25pt; 
    width: 100%;
    margin-right: 0;
    padding-left: 0;
}
.Main{
    border-bottom: 2px solid rgba(202, 12, 12, 0.718);
    background-color: rgb(31, 29, 29);
    height: 70px;
    width: 100%;
    display: flex; 
justify-content: space-around;}
str {
    margin-left: 0.6%;  
}
.b {
    font-size: 1.7rem;
    color: brown;
    text-decoration: none;
}
.ctr {
    text-decoration: none;
    font-size: 1.6rem; 
    margin-left: 8%;  
    color: rgb(198, 157, 219); 
    white-space:nowrap;
}
.ctr:hover {
    text-decoration: none;
    font-size: 1.6rem; 
    margin-left: 8%;  
    color: rgb(251, 250, 252); 
    white-space:nowrap;
}
.column2 {
    font-size: 1.6rem; 
    margin-right: 5%;
   color: rgb(187, 187, 187);
   display: flex;
flex-direction: row;align-items: center;}
.column1 {
   font-size: 1.6rem;   
   margin-right: 10%;
  color: rgb(187, 187, 187);
  display: flex;
flex-direction: row;align-items: center;}
.colocol {
    margin-left: 8%;  
}
canvas {
    position: absolute;
    width: 100%;
    height: 92.29%;
    left: 0;
}