.squid1{
    position: absolute;
    left: 50px;
    margin-top: 12%;
}

.squid2{
    position: absolute;
    left: 350px;
    margin-top: 12%;
    height: 220px;
    width: 220px;
}
.squid3{
    position: absolute;
    left: 650px;
    margin-top: 12%;
    height: 180px;
    width: 180px;
}
.squid4{
    position: absolute;
    left: 950px;
    margin-top: 12%;
    height: 180px;
    width: 180px;
}
.squid5{
    position: absolute;
    left: 1250px;
    margin-top: 12%;
    height: 220px;
    width: 220px;
}
.squid6{
    position: absolute;
    left: 1550px;
    margin-top: 12%;
}
body {
    margin: 0%;
    min-width: 1920px;
}
.Main{
    position: relative;
    border-bottom: 2px solid rgba(202, 12, 12, 0.718);
    background-color: rgb(31, 29, 29);
    height: 70px;
    width: 100%;
    display: flex; 
justify-content: space-around;}
.b {
    font-size: 1.7rem;
    color: brown;
    text-decoration: none;
}
.ctr {
    text-decoration: none;
    font-size: 1.6rem; 
    margin-left: 8%;  
    color: rgb(198, 157, 219); 
    white-space:nowrap;
}
.ctr:hover {
    text-decoration: none;
    font-size: 1.6rem; 
    margin-left: 8%;  
    color: rgb(251, 250, 252); 
    white-space:nowrap;
}
.column2 {
    font-size: 1.6rem; 
    margin-right: 5%;
   color: rgb(187, 187, 187);
   display: flex;
flex-direction: row;align-items: center;}
.column1 {
   font-size: 1.6rem;   
   margin-right: 10%;
  color: rgb(187, 187, 187);
  display: flex;
flex-direction: row;align-items: center;}
.colocol {
    margin-left: 8%;  
}
.mlidm {
    font-size: 1.4rem;
    
}
.Labs{
    position: relative;
}
.Mylab{
    border-bottom: 2px solid rgba(202, 12, 12, 0.718);
    background-color: rgba(10, 10, 10, 0.692);
    color: azure;
    padding-top: 3%;
    padding-bottom: 2.9%;

    display:flex;
    font-size: 2.8rem;
flex-direction: row;justify-content: space-evenly;}
.Dislab{
    margin-left: 23%;
    margin-top: 22%;
    border-top: 2px solid rgba(202, 12, 12, 0.718);
    border-left: 2px solid rgba(202, 12, 12, 0.718);
    border-right: 2px solid rgba(202, 12, 12, 0.718);
    width: 55%;
    height: 272.5px;
    background-color: rgba(10, 10, 10, 0.692);
}
t{
    color: azure;
    margin-top: 2%;
    display: flex;
    font-size: 2.2rem;
justify-content: space-around;}
.mlidm{
    text-decoration: none;
    color: rgb(148, 156, 180);
    padding-left: 7%;
    font-size: 1.6rem;
}
g {
    margin-left: 630px;
}
q {
    margin-left: 123px ;
}
canvas { 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    min-width: 1920px;
}
