.mlidm {
    font-size: 1.4rem;
    
}
g {
    margin-left: 630px;
}
t {
    font-size: 1.8rem;
    font-family: 'Calibri';
}
r {
    margin-left: 385px;
}
q {
    margin-left: 123px ;
}
